.page.theme_light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --title-color: #353430;
  --main-title-color: #ffc2e6;
  --rec-color: #fff1f7;
  --btn-color: #353430;
  --border-color: #353430;
  --opacity: 0;
  --focus-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.40);
  background-image: url(../images/cover-image-light.png);
}
