:root {
	--bg-color: #000028;
	--text-color: #f1b2ce;
	--title-color: #000028;
	--main-font: 'IBM Plex Mono';
	--accent-color: #ff0070;
	--main-title-color: #db00ff;
	--title-shadow: #ff0070;
	--rec-color: #ff0070;
	--btn-color: #ff0070;
	--border-color: #ff0070;
	--opacity: 1;
	--focus-color: #f1b2ce;
	--title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	--hover-color: rgba(255, 0, 112, 0.4);
}